<div class="container">
  <header class="site-header">
    <!-- <div class="logo">
    
    <a href="{{ site.url }}" class="site-title sitelogo"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}"></img></a>
    </div>

    <div class="title">
    <a href="{{ site.url }}">
      <h1>{{ site.title }}</h1>
    </a>
      <p class="subheading"></p>
    </div> -->
    <div class="logo">
      <a href="{{ site.url }}" class="brand"><img src="{{ "/img/logo.png" | prepend: site.baseurl }}"></img>
      <div class="title">
          <h4>{{ site.title }}</h4>
      </div>
      </a>
    </div>
    <div class="site-nav">
       <a class="sub-nav" href="/elsewhere.html">Elsewhere</a>
       <a class="sub-nav2" href="/archive.html">Archives</a>
    </div> 

  </header>

</div>
