article {
  img {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
}

// Grid Layout
.container {
	@include outer-container;
}
.search {
  margin-top: 20px;
  @include media(min-width 0px max-width $medium-screen) {
        @include span-columns(12);
        @include shift(0);
    }
  @include span-columns(8);
  @include shift(2);

  .search-results {
    position: relative;
    margin: 20px 0 20px 0;
    
    #results-container {
      border: solid $light-gray 1px;
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
      @include border-left-radius(5px);
      @include border-right-radius(5px);
      padding: 20px;
      background-color: white;
      }

  }
}
.site-header {


    div.one-column {
      @include span-columns(6);

      &.last {
        @include omega();
      }
    }

    div.logo {
      @include span-columns(6);
      @include fill-parent;
      text-align: center;

      img {
        width: 15em;
        padding: 2%;
      }
    }
    div.title {
        @include fill-parent;
        text-align: center;
        line-height: 2;
    }
  }

.home {
    @include fill-parent;

}
article {
    @include fill-parent;
    @include span-columns(10);
    @include shift(1);

    @include media(min-width $medium-screen max-width $large-screen){
    @include span-columns(10);
      @include shift(1);
    }

  @include media(min-width 0px max-width $medium-screen) {
        @include span-columns(10);
        @include shift(1);
    }
    img {
         display: block;
    margin-left: auto;
    margin-right: auto
    }
}
iframe {
    width: 100%;
}

.pagination {
    @include span-columns(12);
    .prev {
        @include span-columns(2);
        float: left;
        @include media(min-width 0 max-width $medium-screen){
          @include span-columns(5);
      }
    }
    .next {
        @include span-columns(2);
        float: right;
        @include media(min-width 0 max-width $medium-screen){
          @include span-columns(5);
          @include shift(1);
      }
    }

}
.fullpage {
    padding: 0;
    margin: 0 -8px 0 -8px;
    text-align: center;
    padding: 20px 0 20px 0;
}
.header-img {
  display: block;
  height: 500px;
  width: 100%;
  background: no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-post-title, .header {
  font-size: $base-font-size * 3;
  position: relative;
  text-shadow: 0px 0px 10px #000;

}
.post-content {
  ul {
    list-style-type: circle;
    margin-left: 3%;
  }
}
.header-post-title {
    padding-top: 200px;
}
.post-header {
  padding-bottom: 2%;
}
.post-footer {
  @include span-columns(12);
  display: inline-block;
  padding-bottom: 20px;

  .me {
    @include span-columns(2);
    display: block;
  }

  img {
    width: 80px;
    height: 100%;
    border-radius: 100%;
  }
  .author-info {
    @include span-columns(4);
    margin-top: 2.5%;

    @include media(min-width 0px max-width $medium-screen) {
        margin-top: 0;
    }
  }
  .share {
    @include omega;
    @include span-columns(3);
    @include shift(3);
    margin-top: 2.5%;
    a:hover {
      text-decoration: none;
    }
    @include media(min-width 0px max-width $medium-screen) {
        margin-top: 0;
        @include span-columns(5);
        @include shift(1);
        .symbol {
          margin-left: -2%;
        }
    }
     @include media(min-width $medium-screen max-width $large-screen) {
        margin-top: 0;
        @include span-columns(4);
        @include shift(2);
        .symbol {
          margin-left: -2%;
        }
      }
  }
}
.site-footer {
  margin: 0;
  background-color: $dark-gray;
  text-align: center;

  .rss-subscribe {
    color: #fff;
    text-align: center;


    .subscribe {
      margin-top: -20px;
      font-family: $sans-serif;
      font-weight: bold;
      text-transform: uppercase;
    }

    a {
      display: inline-block;
      @include pad();
      color: #fff;
    }
    a:hover {
      color: $blue;
      text-decoration: none;
    }
  }
  .footer-links {
    padding-bottom: 20px;
    a {
      color: white;
    }
    a:hover {
      color: $blue;
    }
  }
  color: #fff;
}
.seperator {
  margin: 3% 0 3% 0;
  color: $light-gray;
  text-align: center;
}


    * {
    margin: 0;
    }
    html, body {
    height: 100%;
    }
    .wrapper {
    min-height: 100%;
    margin: 0 auto -12em;
    }
    .site-footer, .push {
    clear: both;
    height: 12em;
    }
